
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color:#894e3f;
    color:#eee1ba;
}

.page-heading {
    font-size: 2.5em;
    font-family: cursive;
}

main {
    padding: 20px;
}

.about-section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section p {
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 40px;
    color: #666;
}

.about-image {
    max-width: 100%;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}
